.todo-form {
  width: 80rem;
  margin: 1rem auto;
  max-width: 80%;
}

.form-group {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media screen and (max-width: 650px) {
  .form-group {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
}

.form-control {
  display: grid;
  grid-template-columns: 1fr;
  margin: 1rem 0;
}
.form-control input {
  padding: 0.1rem 0.25rem;
  border: none;
  border-bottom: 2px solid #ccc;
  margin-bottom: 1rem;
  padding: 10px 0;
}
.form-control label {
  padding-bottom: 0.2rem;
}
.form-control input:focus {
  outline: none;
  border-bottom-color: #ff2058;
}
.form-action {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}
