@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: 'Open Sans', sans-serif;
}

button{
  font: inherit;
  padding: .5rem 2rem;
  color: #fff;
  border: 1px solid #ff2058;
  margin: .5rem 0;
  border-radius: 5px;
  cursor: pointer;
  background-color:#ff2058;
  transition: all .2s ease-in-out;
}
button:hover,
button:active{
  box-shadow: 0 2px 4px rgba(0,0,0,.26);
}
button:focus{
  outline: none;
}